@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Microespeciales

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #f1b310;
$tertiary_color: #4d4d4d;
$background: #f2f2f2;
$border: #ccc;

/* ---------- General ---------- */

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 12px;
	color: $primary_color;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	background-color: #000;
	.custom_to1 {
		padding: {
			top: 10px;
			bottom: 10px;
		}
	}
	.custom_to2 {
		margin-bottom: 20px;
		padding: {
			top: 10px;
			bottom: 10px;
		}
		background-color: $secondary_color;
		-webkit-border-bottom-right-radius: 10px;
		-webkit-border-bottom-left-radius: 10px;
		-moz-border-radius-bottomright: 10px;
		-moz-border-radius-bottomleft: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		font-size: 18px;
		color: #000;
	}
	.custom_to3 {
		padding: {
			top: 10px;
			bottom: 10px;
		}
	}
	.custom_to4 {
		padding: {
			top: 10px;
			bottom: 10px;
		}
		a {
			width: 20px;
			font-size: 18px;
			display: inline-block;
		}
	}
}

/* Menu */

.menu-wrap {
	background-color: $tertiary_color;
	.moduletable_me1 {
		width: 80%;
		float: left;
		position: relative;
		ul#dj-megamenu91 {
			height: 45px;
			background: transparent;
			li {
				padding: 0 10px !important;
				background: {
					image: url(dj-megamenu91_li_bg.png);
					position: right;
					repeat: no-repeat;
				}
				&.active,
				&.hover {
					a {
						background: transparent;
						background-color: $secondary_color;
						color: #fff;
					}
				}
				a {
					height: 45px;
					padding: 0 10px;
					border: none;
					span {
						height: 45px;
						font: {
							size: 16px;
							weight: normal;
						}
						line-height: 45px;
					}
				}
			}
		}
	}
	.moduletable_me2 {
		width: 20%;
		float: right;
		position: relative;
		.search_me2 {
			padding: 8px 0;
			.button {
				width: 28px;
				height: 28px;
				margin: 0;
				margin-right: 5px;
				padding: 0;
				background: {
					color: $secondary_color;
					image: url(icon_search.png);
					position: center;
					repeat: no-repeat;
				}
				font-size: 0;
				float: left;
				position: relative;
			}
			label {
				display: none;
			}
			.inputbox {
				max-width: 200px;
				height: inherit;
				margin: 0;
				padding: {
					top: 5px;
					bottom: 5px;
				}
				border: none;
				float: left;
				position: relative;
			}
		}
	}
}

/* Off-canvas */

.component {
	margin: 20px 0;
	.left {
		.moduletable_le1 {
			h3 {
				margin: 0;
				padding: 15px;
				background-color: $secondary_color;
				font-size: 14px;
				color: #fff;
				text-align: center;
			}
			#je_accord94.je_acc {
				ul {
					background-color: $background;
					li {
						a {
							padding: 10px 15px;
							background: transparent;
							border: none;
							font-size: 11px;
							color: $primary_color;
							&:before {
								content: '>> ';
							}
						}
						ul {
							li {
								a {
									&:before {
										content: '';
									}
								}
							}
						}
					}
				}
			}
			#jExt94 {
				display: none;
			}
		}
	}
	.banner {
		.moduletable_ba1 {
			margin-bottom: 20px;
		}
	}
	.news {
		.moduletable_ne1 {
			margin-bottom: 20px;
			h3 {
				margin: 0;
				margin-bottom: 10px;
				padding: 10px;
				background-color: $secondary_color;
				font-size: 14px;
				color: #fff;
				text-align: center;
			}
			.custom_ne1 {
				img {
					 width: 100%;
					border: 1px solid $border;
				}
			}
		}
	}
	.product {
		.moduletable_pr1 {
			.custom_pr1 {
				.callout {
					padding: 0;
					padding-top: 10px;
					border-color: $secondary_color;
					p {
						margin: 0;
						a {
							&.button {
								margin: 0;
								margin-top: 10px;
								background-color: $secondary_color;
								font-size: 12px;
							}
						}
					}
				}
			}
		}
	}
}

/* Service */

.service {
	.moduletable_se1 {
		h3 {
			margin: 0;
			margin-bottom: 10px;
			padding: 10px;
			background-color: $secondary_color;
			font-size: 14px;
			color: #fff;
			text-align: center;
		}
		.custom_se1 {
			.row {
				margin: 0;
				.columns {
					padding: 0;
					img {
						width: 100%;
					}
				}
			}
		}
	}
}

/* Logo */

.logo {
	margin: 20px 0;
	.moduletable_lo1 {
		padding: 10px 0;
		border: 1px solid $border;
	}
}

/* Bottom */

.bottom {
	padding: 10px 0;
	background-color: #000;
	.moduletable_bo1 {
		font-size: 14px;
		color: #fff;
		text-align: center;
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright_wrap {
	padding-bottom: 10px;
	background-color: #000;
	.copyright {
		color: #fff;
		text-align: center;
		a {
			color: #fff;
		}
	}
}

/* ---------- Components ---------- */

/* ChronoForms */

.chronoform {
	input[type=text],
	textarea {
		background-color: $background;
		border: none;
		box-shadow: none;
		font-size: 12px;
	}
	#ftd-enviar {
		text-align: center;
	}
	.button {
		margin: 0;
		background-color: $secondary_color;
		font-size: 12px;
		text-transform: uppercase;
	}
}

p.chrono_credits {
	margin: 0;
	line-height: 0;
	a {
		font-size: 0;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}